extends ../layout

block content
    h1.
        Fill Up #{fill._id}
    p Date: #{fill_date}
    p Station: #{fill.station}
    p Address: #{fill.address}
    p Gallons: #{fill.gallons}
    p Miles: #{fill.miles}
    p Miles: #{fill.miles}
    p Price: #{fill.price}
